* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    display: flex;
    width: 100%;
}


.content {
    margin-left: 33%; 
    width: 100%;
    padding-left: 14px;
}


article {
    font-size: 16px;
    height: 100%;
    position: relative;
    padding: 120px 10% 0px 10%;
}

article h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

article ul {
    margin-bottom: 24px;
}
article ul li {
    margin-bottom: 8px;
}

article ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #566573;
}

article ul li a:hover {
    color: #808b96 ;
    text-decoration: underline;
}



/* Adjustments for small screens */
@media (max-width: 1280px) {

    .profile {
        display: none;
    }

    .content {
        margin-left: 0%; 
        width: 100%;
    }
}