#gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d8e3eb;
  overflow: hidden;
  padding-top: 10vh; 
}

.section-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #41484D;
}

.gallery-wrapper {
  flex: 9; 
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: flex-start; 
  position: relative;
}

.gallery-track {
  display: flex;
  flex-direction: column;
  gap: 8vh; /* space between rows */
  will-change: transform;
  padding: 0.1rem 0 0 8vh;;
  animation: scrollGallery 90s linear infinite; 
}

.gallery-row {
  display: flex;
  gap: 8vh; /* space between columns */
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  width: 16vh; /* square grid size */
  height: 16vh; /* square grid size */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: 0.2s linear;
}

.gallery-item:hover {
  transform: scale(102%);
}

.gallery-item a {
  width: 100%;
  height: 100%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.gallery-fade {
  position: absolute;
  top: 0;
  width: 10%; 
  height: 100%;
  pointer-events: none; 
  z-index: 2;
}

.gallery-fade.left {
  left: 0;
  background: linear-gradient(to right, rgba(250, 242, 227, 1) 0%, rgba(250, 242, 227, 0) 100%);
}

.gallery-fade.right {
  right: 0;
  background: linear-gradient(to left, rgba(250, 242, 227, 1) 0%, rgba(250, 242, 227, 0) 100%);
}


@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 768px) {
  .gallery-track {
    gap: 4vh; 
    animation: scrollGallery 90s linear infinite; 
  }
}