/* Navigator styling */
.navigator {
    padding: 20px;
    height: 64px;
    width: 100%;
    border-bottom: 0.2mm solid #eaecee; /* Add vertical line */
    position: fixed;
    background-color: #FFFFFF;  /* prevent overlapping */
    z-index: 100;
}
.navigator ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.navigator ul li {
    margin-right: 32px;
}

.navigator ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.navigator ul li a:hover {
    color: #808b96 ;
    text-decoration: underline;
}