#research {
  background: #e6e7ed;
  color: #41484D;
  display: flex;
  justify-content: center;
  min-height: 100vh; 
  padding-top: 10vh; 
  padding-bottom: 10vh; 
  font-family: "Cormorant", serif;
}

.research-container {
  max-width: 60vw; 
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.research-section {
  margin-bottom: 2rem;
}

.research-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #41484D;
  border-bottom: 0.1rem solid #757d82;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.research-list {
  list-style: none;
  padding-left: 0;
}

.research-list li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: justify;
  display: flex;
  align-items: flex-start;
}

.research-index {
  flex-shrink: 0; 
  width: auto;
  text-align: right;
  margin-right: 0.5rem;
}

.research-text {
  flex: 1; 
  line-height: 1.4;
  margin-bottom: 0.2rem;
}

.research-link {
  color: #438abc;
  text-decoration: none;
}

.research-link:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .research-container {
    max-width: 80vw; 
  }
  .research-section h3 {
    font-size: 1.4rem; 
  }
  .research-list li {
    font-size: 1.1rem; 
  }
  .research-index {
    width: auto; 
    text-align: right;
    margin-bottom: 0.3rem; 
  }
}