* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    display: flex;
    width: 100%;
}


.content {
    margin-left: 33%; 
    width: 100%;
}



/* Homepage */
article {
    text-align: center;
    font-size: 16px;
    height: 100%;
    position: relative;
    padding: 120px 10% 80px 10%;
}

article h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-me-header {
    margin-bottom: 40px;
}

.about-me-paragraph {
    /* font-size: 16px; */
    line-height: 2;
    margin-bottom: 40px;
}


.album {
    columns: 360px;
}

.album .img {
    width: 100%;
    margin: 0 0 2% 0;
    transition: 0.2s linear;
}

.album .img:hover {
    transform: scale(102%);
}



#sec_blog {
    padding-top: 80px;
}

.blog {
    text-align: left;
}

.blog h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.blog ul {
    margin-bottom: 24px;
}
.blog ul li {
    margin-bottom: 8px;
}

.blog ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #566573;
}

.blog ul li a:hover {
    color: #808b96 ;
    text-decoration: underline;
}


#sec_projects {
    padding-top: 80px;
}

.projects {
    margin-bottom: 800px;
}



#sec_research {
    padding-top: 80px;
}

.research {
    text-align: left;
    margin-bottom: 200px;
}

.research h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.research ol {
    list-style: decima;
    margin-bottom: 20px;
}

.research ol li {
    margin-bottom: 16px;
}

.research ol li a {
    color: #2874a6 ;
}

.research ol li a:hover {
    color: #3498db ;
}




/* Adjustments for small screens */
@media (max-width: 1280px) {

    .profile {
        display: none;
    }

    .profile-vertical {
        display: block;
    }

    .content {
        margin-left: 0%; 
        width: 100%;
    }
}